# BSE Stocks -> EDA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
bse = pd.read_csv('BSE.csv')

bse.shape

(118, 5)

In [3]:
bse.head()

         Date     Open     High      Low    Close
0  2018-03-09  3504.75  3514.00  3482.80  3488.62
1  2018-03-08  3485.37  3510.00  3452.86  3500.07
2  2018-03-07  3500.79  3504.52  3466.14  3475.16
3  2018-03-06  3566.05  3573.05  3497.00  3506.91
4  2018-03-05  3579.12  3579.32  3530.66  3544.63

In [4]:
bse.describe()

              Open         High          Low        Close
count   118.000000   118.000000   118.000000   118.000000
mean   3697.442119  3714.860424  3669.711864  3689.423983
std     114.609131   114.494146   114.240524   114.603113
min    3447.410000  3475.210000  3425.870000  3442.820000
25%    3589.272500  3600.147500  3569.550000  3582.110000
50%    3726.210000  3739.860000  3698.355000  3712.210000
75%    3787.225000  3805.252500  3761.222500  3772.505000
max    3908.730000  3916.760000  3870.430000  3897.790000

In [36]:
import datetime
import sys
#bse.plot(x='Date', y='Open',kind='scatter')
#plt.gcf().autofmt_xdate()
#plt.show()


t = pd.tslib.Timestamp.now()
t

Timestamp('2018-03-11 22:48:25.050047')

In [39]:
d = bse['Date'][0].date()
d.to_datetime()

AttributeError: 'str' object has no attribute 'date'

In [40]:
Timestamp(bse['Date'][0], tz=None)

NameError: name 'Timestamp' is not defined