# List Insert

In [2]:
a=[];
a.insert(0,1);
a.insert(1,2);
print(a);
a.insert(20,4)
a

[1, 2]

[1, 2, 4]

In [3]:
a.insert(1,3); #inserting '3' at index 1
print(a);

[1, 3, 2]

# List Append

In [4]:
a.append(4);
print(a);

li1=[1,2,3];

li2=[4,5];

li1.append(li2);

print(li1);

[1, 3, 2, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]

# List Append Using '+'

In [42]:
li1 = [1,2,3];

li2 = [4,5];

print(li1 + li2);

[1, 2, 3, 4, 5]

# List Remove uisng value

In [43]:
lst = [1,2,3,1];

lst.remove(1); #it will remove first occurance of '1'
print(lst);

[2, 3, 1]

# List Extend

In [44]:
li1=[1,2,3];

li2=[4,5];

li1.extend(li2)

print(li1);

[1, 2, 3, 4, 5]

# List Delete or Pop using index

In [11]:
lst=["a","b","c","d"];

del lst[1];

#or

lst.pop(2);

print(lst);

['a', 'c']

# List.Contains() equivalent in Python

In [12]:
lst=[1,2,3,4,5];

if(1 in lst):
    print("its present");
    
if(25 not in lst):
    print("25 not in list");

its present
25 not in list

# List Reverse

In [47]:
lst=[1,2,3,4];
lst.reverse();
print(lst);

[4, 3, 2, 1]

# List Sorting

In [48]:
lst=[2,4,1,5,2,6];

sort_lst=sorted(lst);

print(sort_lst);

li= [1,2.2,0.9]

srt=sorted(li);

print(srt)

[1, 2, 2, 4, 5, 6]
[0.9, 1, 2.2]

In [49]:
lst=[2,4,1,5,2,6];

sort_lst=sorted(lst, reverse=True); #reverse sort

print(sort_lst);

[6, 5, 4, 2, 2, 1]

# List Multiple References

In [50]:
lst=[1,2,3,4];

li=lst; #both li and lst points to same memory location.


print(id(lst));

print(id(li));

2818797455816
2818797455816

# List Copy

In [51]:
lst = [1,2,3];

li=lst.copy;

print(id(lst));

print(id(li));

2818797800392
2818797796448

observation: As copy of one list is pasted in other both points to different Memory Locations

# String Split will return List

In [6]:
s = "a,k,a,r,s,h"

lst = s.split(",");

print(lst);

s2= "I am Learning ML"

lst = s2.split();

print(lst);

['a', 'k', 'a', 'r', 's', 'h']
['I', 'am', 'Learning', 'ML']

# List Slicing

In [53]:
nums=[1,2,3,4,5,6,7,8,9]

print(nums[0:4]);

[1, 2, 3, 4]

### To print Alternate nums in list

##### Syntax: nums[start : end : stepsize]

In [54]:
print(nums[::2]);

[1, 3, 5, 7, 9]

In [55]:
print(nums[2:8:3]); #stepSize is 3

[3, 6]

# List Count / Frequency

In [56]:
li = [1,2,3,1,4,1,5,1,6];

#prints frequency of 1 in li

print(li.count(1))

4

# List Comprehensions

#### Without list Comprehension

In [57]:
even = [];
for i in range(10):
    if(i%2==0):
        even.append(i);
print(even);

[0, 2, 4, 6, 8]

#### With List Comprehension

In [8]:
even = [i for i in range(10) if i%2==0];

print(even);

[0, 2, 4, 6, 8]

In [59]:
# List of Tuples

sq = [(i,i**2) for i in range(5)];

print(sq);

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

# Nested List Comprehensions

#### Without Comprehension

In [74]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
];

transposed= [];

for i in range(3):
    lst = [];
    for row in matrix:
        #getting column values
        lst.append(row[i]);
    transposed.append(lst);
print("Transposed Matrix is: ",transposed);

Transposed Matrix is:  [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

#### With Comprehension

In [77]:
transposed = [[row[i] for row in matrix] for i in range(3)]

print(transposed);

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

##### Other Example

In [83]:
x = [[[k for k in range(2)] for j in range(2)] for i in range(2)];

print(x);

[[[0, 1], [0, 1]], [[0, 1], [0, 1]]]

### Sum of matrises Using List Comprehension

In [94]:
a = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
];

b = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
];

sum = [ [a[i][j]+b[i][j] for j in range(3)] for i in range(3) ];

print(sum);

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [96]:
# Repeating ele in List

In [97]:
l = ["ML"] * 3;

print(l)

['ML', 'ML', 'ML']

In [3]:
li1 =[1,2,3]
li2=[4,3]
li1.append(li2)
li1

[1, 2, 3, [4, 3]]

In [8]:
li1[3][0]

4