# Tuples

#### If the value is once assigned it cant be changed

In [1]:
# Tuple creation

t = ();

t=(1,2,3);

print(t);

(1, 2, 3)

In [4]:
t = (1,"akarsh",2.23,True);

for i in t:
    print(i);

1
akarsh
2.23
True

In [19]:
t = ([1,2], {"a":"akarsh"}, {1,2,3,4} );

print(t);

print(t[1]["a"]);

print(t[0][0]);

([1, 2], {'a': 'akarsh'}, {1, 2, 3, 4})
akarsh
1

### If tuple has only one Val it shd end with ',' or else it will be treated as String

In [14]:
t = ("akarsh");

print(type(t));

t = ("akarsh" , );

print(type(t));

<class 'str'>
<class 'tuple'>

# Tuple is Immutable, but if it has list or dict or set we can modify them.

In [20]:
t = ([1,2], {"a":"akarsh"}, {1,2,3,4} );

t[0].append(3);

print(t);

([1, 2, 3], {'a': 'akarsh'}, {1, 2, 3, 4})

Observation: the list inside the tuple is modified not tuple

# Concat

In [21]:
t= (1,2,3) + (4,5,6);

print(t)

(1, 2, 3, 4, 5, 6)

# Repeating ele in tuple

In [22]:
t = ("ML", ) * 3;

print(t);

('ML', 'ML', 'ML')

# Deletion

We cant remove single ele

In [25]:
t = (1,2,3)

del t;

print(t);

NameError: name 't' is not defined

# Count

In [26]:
t = (1,1,1,2,3,2,3,4,5);

print(t.count(1));

3

# Index

In [27]:
t = (1,4,1,2,5,6);

#Returns the index of first occurance of the element

print(t.index(1));

0

# Tuple Membership

In [28]:
t = (1,2,3);

print(1 in t);

True

# Some of the builtin fns

In [29]:
t=(1,2,3,4,5,6);

print(min(t), max(t), sum(t));

1 6 21